 <div class="page-content">
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <h4><strong>添加用户</strong></h4>
        </ul>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-sm-3">
                    <div id="horizontal-form">
                        <form role="form" id="adduserform" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputUserName3" class="col-sm-4 control-label no-padding-right"><span style="color: red;">※</span>用户账号：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="username" id="username" placeholder="请输入用户账号" />
                                    <span class="danger display-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCompanyName3" class="col-sm-4 control-label no-padding-right">公司名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="companyname" name="companyname" placeholder="请输入公司名称" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmpNum3" class="col-sm-4 control-label no-padding-right">员工工号：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="empnum" name="empnum" placeholder="请输入员工工号" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNickName3" class="col-sm-4 control-label no-padding-right"><span style="color: red;">※</span>员工姓名：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" id="nickname" name="nickname" placeholder="请输入员工姓名" />
                                    <span class="danger display-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTeam3" class="col-sm-4 control-label no-padding-right"><span style="color: red;">※</span>所属团队：</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-10 no-padding">
                                        <select class="form-control input-sm" id="groupid" name="groupid">
                                            <option value="">请选择团队</option>
                                            {{range $k, $v := .groups}}
                                                <option value="{{$v.Id}}">{{$v.Name}}</option>
                                            {{end}}
                                        </select>
                                        <span class="danger display-none"></span>
                                    </div>
                                    <div class="col-sm-2 no-padding">
                                        <span class="input-group-btn">
                                            <a class="btn btn-sm btn-primary" href="../group/add">添加</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPosition3" class="col-sm-4 control-label no-padding-right">员工职位：</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-10 no-padding">
                                        <select class="form-control input-sm" id="roleid" name="roleid">
                                            <option value="">请选择职位</option>
                                            {{range $k, $v := .RoleList}}
                                                <option value="{{$v.Id}}">{{$v.Name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    <div class="col-sm-2 no-padding">
                                        <span class="input-group-btn">
                                            <a class="btn btn-sm btn-primary" href="../role/add">添加</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right"><span style="color: red;">※</span>创建密码：</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control input-sm" name="password" placeholder="请输入密码" id="password" />
                                    <span class="danger display-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRePassword3" class="col-sm-4 control-label no-padding-right"><span style="color: red;">※</span>确认密码：</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control input-sm" name="repassword" placeholder="请输入确认密码" id="repassword" />
                                    <span class="danger display-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">家庭电话：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="familyphone" placeholder="请输入家庭电话" id="familyphone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">办公电话：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="officephone" placeholder="请输入办公电话" id="officephone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">手机号码：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="telphone" placeholder="请输入手机号码" id="telphone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">电子邮箱：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="email" placeholder="请输入电子邮箱" id="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">微信号/QQ：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="wxorqq" placeholder="请输入微信号/QQ" id="wxorqq" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">邮政编码：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="zipcode" placeholder="请输入邮政编码" id="zipcode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label no-padding-right">联系地址：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm" name="address" placeholder="请输入联系地址" id="address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus3" class="col-sm-4 control-label no-padding-right">用户状态：</label>
                                <div class="col-sm-8 no-padding">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status" checked="checked" value="1">
                                            <span class="text">正常 </span>
                                        </label>
                                        <label>
                                            <input type="radio" name="status" value="2">
                                            <span class="text">禁用 </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus3" class="col-sm-4 control-label no-padding-right">用户备注：</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" placeholder="请输入用户备注" id="remark" style="resize: none;"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-offset-5 col-sm-7">
                                <input type="button" id="submitBtn" class="btn btn-primary btn-sm" value="确认" />
                                <a class="btn btn-default btn-sm" href="../user/list">取消</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3" align="center">
                    <div class="col-sm-12 no-margin">
                        <div style="height: 340px; width: 280px;" class="pageCenter">
                            <img src="/static/img/avatars/userimg.jpg" height="200" width="200">
                            <div class="padding-30">
                                <button class="btn btn-primary btn-sm" id="selectFile">上传照片</button>
                                <input type="file" id="upfile" name="fileupload" style="filter: alpha(opacity=0); moz-opacity: 0; opacity: 0;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        
    });

    // 校验用户账号
    $("#username").blur(function(){
        var username = $(this).val();
        var reg = /^[0-9a-zA-Z]*$/g;
        if (username == null || username == "") {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※用户名不能为空");
            return false;
        }
        if (username != null || username != "") {
            if (username.length > 20) {
                $(this).siblings("span").removeClass("display-none");
                $(this).siblings("span").html("※用户名不能大于20个字符");
                return false;
            } else {
                $(this).siblings("span").addClass("display-none");
                $(this).siblings("span").html("");
            }
        }
        if (!reg.test(username)) {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※用户账号只能输入数字或者字母");
            return false;
        }
    });

    // 校验用户姓名
    $("#nickname").blur(function(){
        var nickname = $(this).val();
        if (nickname != null || nickname != "") {
            if (nickname.length > 10) {
                $(this).siblings("span").removeClass("display-none");
                $(this).siblings("span").html("※用户姓名不能大于10个字符");
                return false;
            } else {
                $(this).siblings("span").addClass("display-none");
                $(this).siblings("span").html("");
            }
        }
        if (nickname == null || nickname == "") {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※用户姓名不能为空");
            return false;
        }
    });

    // 校验所属团队
    $("#groupid").blur(function(){
        var groupid = $(this).val();
        if (groupid == null || groupid == "") {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※所属团队不能为空");
            return false;
        } else {
            $(this).siblings("span").addClass("display-none");
            $(this).siblings("span").html("");
        }
    });

    // 校验密码
    $("#password").blur(function(){
        var password = $(this).val();
        if (password == null || password == "") {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※密码不能为空");
            return false;
        }
        if (password != null || password != "") {
            if (password.length < 6 || password.length > 20) {
                $(this).siblings("span").removeClass("display-none");
                $(this).siblings("span").html("※密码长度不能小于6个字符或大于20个字符");
                return false;
            } else {
                $(this).siblings("span").addClass("display-none");
                $(this).siblings("span").html("");
            }
        }
    });

    // 校验确认密码
    $("#repassword").blur(function(){
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        if (repassword == null || repassword == "") {
            $(this).siblings("span").removeClass("display-none");
            $(this).siblings("span").html("※确认密码不能为空");
            return false;
        }
        if (repassword != null || repassword != "") {
            if (repassword != password) {
                $(this).siblings("span").removeClass("display-none");
                $(this).siblings("span").html("密码和确认密码不一致");
                return false;
            } else {
                $(this).siblings("span").addClass("display-none");
                $(this).siblings("span").html("");
            }
        }
    });


    // 提交
    $("#submitBtn").on("click", function(){
        var username = $("#username").val();
        var empnum = $("#empnum").val();
        var companyname = $("#companyname").val();
        var nickname = $("#nickname").val();
        var groupid = $("#groupid option:selected").val();
        var roleid = $("#roleid option:selected").val();
        var password = $("#password").val();
        var repassword =　$("repassword").val();
        var status = $("input[name='status']:checked").val();
        var remark = $("#remark").val();
        var officephone = $("#officephone").val();
        var familyphone = $("#familyphone").val();
        var telphone = $("#telphone").val();
        var email = $("#email").val();
        var wxorqq = $("#wxorqq").val();
        var zipcode = $("#zipcode").val();
        var address = $("#address").val();
        var reg = /^[0-9a-zA-Z]*$/g;
        var pwdreg = /^[a-zA-Z0-9!"\#$%&'()*+,-./:;<=>?@\[\\\]^_`\{\|\}\~]{6,20}$/;
        if (!reg.test(username)) {
            bootbox.alert({
                title: "提示信息",
                message: "只能输入数字或者字母",
                className: "modal-danger"
            });
            return false;
        }
        if (username != null || username != "") {
            if (username.length > 20) {
                bootbox.alert({
                    title: "提示信息",
                    message: "用户名的长度不可超过20个字符",
                    className: "modal-danger"
                });
                return false;
            }
        } else {
            bootbox.alert({
                title: "提示信息",
                message: "用户名不能为空",
                className: "modal-danger"
            });
            return false;
        }
        if (nickname != null || nickname != "") {
            if (nickname.length > 10) {
                bootbox.alert({
                    title: "提示信息",
                    message: "姓名的长度不可超过10个字符",
                    className: "modal-danger"
                });
                return false;
            }
        } else {
            bootbox.alert({
                title: "提示信息",
                message: "姓名不能为空",
                className: "modal-danger"
            });
            return false;
        }
        if (password == null || password == "") {
            bootbox.alert({
                title: "提示信息",
                message: "密码不能为空",
                className: "modal-danger"
            });
            return false;
        } else {
            if (password.length < 6 || password.length > 20) {
                bootbox.alert({
                    title: "提示信息",
                    message: "密码不能小于6位或者大于20位",
                    className: "modal-danger"
                });
                return false;
            }
            if (!pwdreg.test(password)) {
                bootbox.alert({
                    title: "提示信息",
                    message: "必须包含字母和数字，可包含特殊字符",
                    className: "modal-danger"
                });
                return false;
            }
        }
        if (repassword == null || repassword == "") {
            bootbox.alert({
                title: "提示信息",
                message: "确认密码不能为空",
                className: "modal-danger"
            });
            return false;
        } else {
            if (repassword != password) {
                bootbox.alert({
                    title: "提示信息",
                    message: "确认密码和密码不一致",
                    className: "modal-danger"
                });
                return false;
            }
        }
        $.ajax({
            url: '../user/add',
            type: 'post',
            data: {
                username: username,
                empnum: empnum,
                groupid: groupid,
                companyname: companyname,
                nickname: nickname,
                roleid: roleid,
                password: password,
                status: status,
                remark: remark,
                officephone: officephone,
                familyphone: familyphone,
                telphone: telphone,
                email: email,
                wxorqq: wxorqq,
                zipcode: zipcode,
                address: address
            },
            success: function(data) {
                if (data.status) {
                    bootbox.confirm({
                        title: "提示信息",
                        message: data.info,
                        buttons: {
                            confirm: {
                                label: "确认",
                                className: "btn-sm btn-primary"
                            },
                            cancel: {
                                label: "取消",
                                className: "btn-sm btn-default"
                            }
                        },
                        callback: function(result){
                            if (result) {
                                location.href = "../user/list";
                            } else {
                                location.href = "../user/list";
                            }
                        }
                    });
                } else {
                    bootbox.alert({
                        title: "提示信息",
                        message: data.info,
                        className: "modal-danger"
                    });
                }
            },
            error: function() {
                bootbox.alert({
                    title: "提示信息",
                    message: "网络错误",
                    className: "modal-danger"
                });
            }
        });
    });
</script>