<div id="horizontal-form">
    <form role="form" id="passwordform" class="form-horizontal bv-form"
        data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
        data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" 
        novalidate="novalidate">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" class="form-control input-sm" name="password" data-bv-notempty="true" data-bv-notempty-message="密码不能为空" data-bv-identical="true" data-bv-identical-field="repassword" data-bv-identical-message="密码和确认密码不一致" placeholder="请输入密码" id="password" />
                <i class="form-control-feedback" data-bv-field="password" style="display: none;"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" class="form-control input-sm" name="repassword" data-bv-notempty="true" data-bv-notempty-message="确认密码不能为空" data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="密码和确认密码不一致" placeholder="请输入确认密码" id="repassword" />
                <i class="form-control-feedback" data-bv-field="repassword" style="display: none;"></i>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#passwordform").bootstrapValidator();
    });
</script>