<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>皓月云控平台</title>

    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <!--Fonts-->
    <link href="/static/googleapis-fonts/fonts.css" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link href="/static/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/demo.min.css" rel="stylesheet" />
    <link href="/static/css/animate.min.css" rel="stylesheet" />
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/static/js/skins.min.js"></script>
    <!--资源管理-->
    <link rel="stylesheet" href="/static/css/resource.css">

    <!-- 文件上传 -->
    <link rel="stylesheet" href="/static/js/bootstrap-fileinput/css/fileinput.min.css">

    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="/static/js/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
    <!--Basic Scripts-->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/static/js/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/datatable/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="/static/js/select2/select2.js"></script>

    <link rel="stylesheet" href="/static/css/jquery-ui.min.css"/>
    <script src="/static/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>

</head>
<!-- /Head -->