<div id="horizontal-form">
    <form role="form" id="passwordform" class="form-horizontal bv-form"
        data-bv-message="This value is not valid" data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
        data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" 
        novalidate="novalidate">
        <div class="form-group">
            <div class="col-sm-12">
                <!-- <label>每日资源量</label> -->
                <input type="text" class="form-control input-sm" id="onedayResource" data-bv-notempty="true" data-bv-notempty-message="每日资源数量不能为空" data-bv-identical="true" placeholder="请输入每日资源总量" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <!-- <label>单次拉取量</label> -->
                <input type="text" class="form-control input-sm" id="onceDown" data-bv-notempty="true" data-bv-notempty-message="单次拉取数量不能为空" data-bv-identical="true" placeholder="请输入单次拉取数量" />
            </div>
        </div>
    </form>
</div>