<style type="text/css">
#slideArea {
    position: absolute;
    right: -80%;
    width: 80%;
    top: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 1000;
    padding: 5px 15px;
}

#slideArea.active {
    right: 0;
    border-left: 1px solid #ccc;
    box-shadow: 1px 0 5px #000;
}

#mycover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#closePanel {
    line-height: 30px;
    color: #ccc;
    cursor: pointer;
}

#closePanel:hover {
    color: #999;
}
.my-header {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    line-height: 30px;
}
</style>
<div class="page-content">
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <h4><strong>资源类型</strong></h4>
        </ul>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="table-toolbar">
                    <div class="no-padding margin-bottom-10" id="statusDiv">
                        <span class="margin-right-10 pointer status active" onclick="searchByStatus(this, 0)">全部(<span style="color: #999999;">{{.allcount}}</span>)</span>
                        <span class="margin-right-10 pointer status" onclick="searchByStatus(this, 1)">私有(<span style="color: #999999;">{{.count1}}</span>)</span>
                        <span class="margin-right-10 pointer status" onclick="searchByStatus(this, 2)">共享(<span style="color: #999999;">{{.count2}}</span>)</span>
                        <span class="margin-right-10 pointer" onclick="seniorSearch()">高级筛选</span>
                    </div>
                    <div class="margin-bottom-10 display-none" id="senior">
                        <img class="seniortypeimg" src="/static/img/seniortips.png"/>
                        <div class="seniorTitle">
                          <b>高级筛选</b>
                          <div class="seniorClose" onclick="seniorClose()">
                            <span>收起<i class="glyphicon glyphicon-remove"></i></span>
                          </div>
                        </div>
                        类型名称：<input type="text" class="input-sm width-200" id="searchTypename" placeholder="请输入类型名称" />
                        <button class="btn btn-default btn-center" onclick="searchType()">查询</button>
                    </div>
                    <select class="input-sm" id="searchBatch">
                        <option value="0">请选择操作</option>
                        {{range $key, $val := .functool}}
                            {{if eq $val `resourcetype_add`}}
                                <option value="1">添加资源类型</option>
                            {{end}}
                        {{end}}
                        {{range $key, $val := .functool}}
                            {{if eq $val `resourcetype_status_set`}}
                                <option value="2">批量设置共享</option>
                                <option value="3">批量设置私有</option>
                            {{end}}
                        {{end}}
                        {{range $key, $val := .functool}}
                            {{if eq $val `resourcetype_del`}}
                                <option value="4">批量删除</option>
                            {{end}}
                        {{end}}
                    </select>
                    <button class="btn btn-default btn-center" onclick="applyBatch()">应用</button>
                    <div class="margin-top-10 display-none" id="addtype">
                        <input type="text" name="typename" id="typename" class="input-sm width-200" placeholder="请输入资源类型" />
                        <button class="btn btn-default btn-center" onclick="addType()">确认</button>
                    </div>
                </div>
                <div class="col-xs-5 no-padding">
                    <table class="table table-hover" id="example">
                        <thead>
                            <tr role="row">
                                <th><input type="checkbox" onclick="checkAll(this)"></th>
                                <th>序号</th>
                                <th width="30%">名称</th>
                                <th>添加者</th>
                                <th width="15%">是否共享</th>
                                <th width="20%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="data_body">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="slideArea">
    <div class="my-header">
        <span class="label label-info">设置共享资源类型的用户</span>
        <i class="fa fa-fw fa-times pull-right" id="closePanel"></i>
    </div>
    <div class="margin-top-10">
        <div class="row">
            <div class="col-xs-12 col-md-12" id="chooseUser">
                <div class="tabbable margin-top-20">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#home" onclick="chooseType();">
                                按照用户
                            </a>
                        </li>

                        <li class="tab-red">
                            <a data-toggle="tab" href="#profile" onclick="chooseType();">
                                按照团队
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="overflow-x: hidden; overflow-y: scroll; height: 700px;">
                        <div id="home" class="tab-pane active">
                            <div class="table-toolbar">
                                <div class="no-padding margin-bottom-10" id="statusUserDiv">
                                    <span class="margin-right-10 pointer status active" onclick="searchUserByStatus(this, 0)">全部(<span style="color: #999999;" id="userallcount"></span>)</span>
                                    <span class="margin-right-10 pointer status" onclick="searchUserByStatus(this, 1)">已启用(<span style="color: #999999;" id="usercount1"></span>)</span>
                                    <span class="margin-right-10 pointer status" onclick="searchUserByStatus(this, 2)">已禁用(<span style="color: #999999;" id="usercount2"></span>)</span>
                                    <span class="margin-right-10 pointer" onclick="seniorUserSearch()">高级筛选</span>
                                </div>
                                <div class="margin-bottom-10 display-none" id="seniorUser">
                                    <img src="/static/img/seniortips.png"/>
                                    <div class="seniorTitle">
                                      <b>高级筛选</b>
                                      <div class="seniorClose" onclick="seniorUserClose()">
                                        <span>收起<i class="glyphicon glyphicon-remove"></i></span>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 no-padding margin-bottom-10">
                                        账号：<input type="text" class="input-sm width-200" id="searchUserName" placeholder="请输入用户账号">
                                        团队：<select class="input-sm width-200" id="searchGroup"></select>
                                    </div>
                                    职位：<select class="input-sm width-200" id="searchRole"></select>
                                    公司：<input type="text" class="input-sm width-200" id="searchCompanyName" placeholder="请输入公司名称">
                                    <button class="btn btn-default seniorbtn" onclick="queryUser()">
                                      <i class="fa fa-search"></i>查询
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover" id="usertable">
                                <thead>
                                    <tr role="row">
                                        <th><input type="checkbox" onclick="checkUserAll(this)"></th>
                                        <th>账户</th>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>职位</th>
                                        <th>团队</th>
                                        <th>创建者</th>
                                        <th>设备数</th>
                                        <th>公司名称</th>
                                        <th>状态</th>
                                        <th>最后登录</th>
                                    </tr>
                                </thead>
                                <tbody id="userdata">
                                    
                                </tbody>
                            </table>
                        </div>

                        <div id="profile" class="tab-pane">
                            <div class="table-toolbar">
                                <div class="no-padding">
                                    <select name="status" class="input-sm" id="searchGroupstatus">
                                        <option value="0">请选择状态</option>
                                        <option value="1">开启</option>
                                        <option value="2">禁用</option>
                                    </select>
                                    <input type="text" class="input-sm width-200" id="searchGroupname" placeholder="请输入团队名称">
                                    
                                    <button class="btn btn-default btn-center" onclick="searchGroup()">
                                      <i class="fa fa-search"></i>搜索
                                    </button>
                                </div>
                            </div> 
                            <table class="table table-hover" id="grouptable">
                                <thead>
                                    <tr role="row">
                                        <th><input type="checkbox" onclick="checkGroupAll(this)"></th>
                                        <th>名称</th>
                                        <th>管理者</th>
                                        <th>状态</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody id="groupdata"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 margin-top-20" id="submitDiv">
                {{range $key, $val := .functool}}
                    {{if eq $val `resourcetype_user`}}
                        <button id="submitBtn" class="btn btn-primary" onclick="submitFun();">授予</button>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var oTable;

    var oTableUser;

    var oTableGroup;

    $(document).ready(function() {
        oTable = initTable();
        oTableGroup = initTableGroup();
        oTableUser = initTableUser();
    });

    function initTable() {
        var actionUrl = '../resource/typelist';
        var table = $('#example').dataTable({
            "bDestory": true,
            "bRetrieve": true,
            "bFilter": true,
            "bAutoWidth": false,
            "sPaginationType": 'full_numbers',
            "bPaginate": true, //翻页功能
            "bDestroy": true,
            "bProcessing": true,
            "sAjaxSource": actionUrl,
            "iDisplayLength": 15,
            "bServerSide": true,
            "bSort": false,
            "aoColumns": [
                { "mDataProp": "Id",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        var checkbox = "<input type='checkbox' name='ids' value='" + oData.Id + "' />";
                        $(nTd).html(checkbox);
                    }
                },
                { "data": null, "targets": 0,
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        var api = this.api();
                        var startIndex= api.context[0]._iDisplayStart;//获取到本页开始的条数
                        api.column(1).nodes().each(function(cell, i) {
                    　　　　cell.innerHTML =  i + 1;
                    　　}); 
                    }
                },
                { "mDataProp": "TypeName", },
                { "mDataProp": "AddUserName", },
                {
                    "mDataProp": "Status",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        if (oData.Status == 2) {
                            $(nTd).html("<i class='glyphicon glyphicon-ok success'></i>");
                        } else if (oData.Status == 1) {
                            $(nTd).html("<i class='glyphicon glyphicon-remove red'></i>");
                        }
                    }
                },
                {
                    "mDataProp": "Id",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var edit = "{{range $key, $val := .functool}}";
                        edit += "{{if eq $val `resourcetype_edit`}}";
                        edit += "<a title='类型修改' onclick='editResourceType(this, "+ oData.Id +")' class='btn btn-sm'><i class='fa fa-pencil'></i>修改名称</a>&nbsp;&nbsp;";
                        edit += "{{end}}{{end}}";
                        $(nTd).html(edit);
                    }
                }
            ],
            "oLanguage": {
                "sProcessing": "正在加载中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有数据！",
                "sEmptyTable": "表中无数据存在！",
                "sInfo": "_START_ - _END_ / 共 _TOTAL_ 条",
                "sInfoEmpty": "0 - 0 / 共 0 条",
                "sInfoFiltered": "",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "dom": "<'row'<'col-sm-6'><'col-sm-6'>><'row'<'col-sm-12'tr>><'row'<'col-sm-6 customer-line'i><'col-sm-6'p>>"
        });
        return table;
    }

    // 状态查询
    function searchByStatus(obj, id) {
        $(obj).siblings("span").removeClass("active");
        $(obj).addClass("active");
        var searchStatus = id;
        var searchTypename = $("#searchTypename").val();
        $("#example").DataTable().column(0).search(searchStatus).column(1).search(searchTypename).draw();
    }

    // 高级筛选查询
    function searchType() {
        var spans = $("#statusDiv").children(".status");
        var searchStatus = 0;
        for (var i = 0; i < spans.length; i++) {
            if (spans.eq(i).hasClass("active")) {
                searchStatus = i;
            }
        }
        var searchTypename = $("#searchTypename").val();
        $("#example").DataTable().column(0).search(searchStatus).column(1).search(searchTypename).draw();
    }

    // 刷新表格
    $.fn.dataTableExt.oApi.fnReloadAjax = function(oSettings) {
        this.fnClearTable(this);
        this.oApi._fnProcessingDisplay(oSettings, true);
        var that = this;

        $.getJSON(oSettings.sAjaxSource, null, function(json) {
            for (var i = 0; i < json.aaData.length; i++) {
                that.oApi._fnAddData(oSettings, json.aaData[i]);
            }
            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
            that.fnDraw(that);
            that.oApi._fnProcessingDisplay(oSettings, false);
        });
    }

    // 选择操作的 change 事件
    $("#searchBatch").on("change", function(){
        var batchval = $("#searchBatch option:selected").val();
        if (batchval == 1) {
            if ($("#addtype").is(":hidden")) {
                $("#addtype").removeClass("display-none");
            } else {
                $("#addtype").addClass("display-none");
            }
        } else {
            $("#addtype").addClass("display-none");
        }
    });

    // 操作
    function applyBatch(){
        var batchval = $("#searchBatch option:selected").val();
        var ids = getTypeId();
        if (batchval == 0) {
            bootbox.alert({
                title : "提示信息",
                message: "请选择操作",
                className: 'modal-danger'
            });
            return false;
        } else if (batchval == 1) {     // 添加
            if ($("#addtype").is(":hidden")) {
                $("#addtype").removeClass("display-none");
            } else {
                $("#addtype").addClass("display-none");
            }
        } else if (batchval == 2) {     // 共享
            if (ids.length == 0) {
                bootbox.alert({
                    title : "提示信息",
                    message: "请勾选资源类型",
                    className: 'modal-danger'
                });
                return false;
            }
            // 创建遮罩层
            createModal();
            $("#slideArea").addClass("active");
            
            // 填充数据
            $.ajax({
                url: "../resource/gettypeusers",
                type: "get",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $("#userallcount").html(data.Allusercount);
                    $("#usercount1").html(data.Usercount1);
                    $("#usercount2").html(data.Usercount2);
                    var grouphtml = '<option value="0">请选择团队</option>';
                    $.each(data.Groups, function(i) {
                        grouphtml += '<option value="'+data.Groups[i].Id+'">'+data.Groups[i].Name+'</option>';
                    });
                    $("#searchGroup").html(grouphtml);
                    var rolehtml = '<option value="0">请选择角色</option>';
                    $.each(data.Roles, function(i) {
                        rolehtml += '<option value="'+data.Roles[i].Id+'">'+data.Roles[i].Name+'</option>';
                    });
                    $("#searchRole").html(rolehtml);
                }
            })
        } else if (batchval == 3) {     // 私有
            if (ids.length == 0) {
                bootbox.alert({
                    title : "提示信息",
                    message: "请勾选资源类型",
                    className: 'modal-danger'
                });
                return false;
            }
            var status = 1;
            $.ajax({
                url: "../resource/edittypestatus",
                type: "get",
                data: { ids: ids, status: status },
                success: function(data) {
                    if (data.status) {
                        bootbox.alert({
                            title : "提示信息",
                            message: data.info,
                            className: 'modal-success'
                        });
                        oTable.fnReloadAjax(oTable.fnSettings());
                    } else {
                        bootbox.alert({
                            title : "提示信息",
                            message: data.info,
                            className: 'modal-danger'
                        });
                        oTable.fnReloadAjax(oTable.fnSettings());
                    }
                    
                },
                error: function(){
                    bootbox.alert({
                        title: "提示信息",
                        message: "网络错误",
                        className: "modal-danger"
                    });
                }
            });
        } else if (batchval == 4) {     // 删除
            if (ids.length == 0) {
                bootbox.alert({
                    title : "提示信息",
                    message: "请勾选资源类型",
                    className: 'modal-danger'
                });
                return false;
            }
            bootbox.confirm({
                title: "删除资源类型",
                message: "确认删除资源类型吗？",
                buttons: {
                    confirm: {
                        label: "确认",
                        className: "btn-sm btn-primary"
                    },
                    cancel: {
                        label: "取消",
                        className: "btn-sm btn-default"
                    }
                },
                callback: function(result){
                    if (result) {
                        $.ajax({
                            url: '../resource/deltype',
                            type: 'post',
                            data: {
                                tids: ids
                            },
                            success: function(data) {
                                if (data.status) {
                                    bootbox.alert({
                                        title : "提示信息",
                                        message: data.info,
                                        className: 'modal-success'
                                    });
                                    oTable.fnReloadAjax(oTable.fnSettings());
                                } else {
                                    bootbox.alert({
                                        title : "提示信息",
                                        message: data.info,
                                        className: 'modal-danger'
                                    });
                                    oTable.fnReloadAjax(oTable.fnSettings());
                                }
                            },
                            error: function() {
                                bootbox.alert({
                                    title : "提示信息",
                                    message: "网络错误",
                                    className: 'modal-danger'
                                });
                            }
                        });
                    }
                }
            });
        }
    }

    // 修改
    function editResourceType(obj,id) {

        var input = "<input type='text' name='typename' class='input-sm' placeholder='请输入类型名称' id='typename_"+id+"' />";
        var hidden = "<input type='hidden' name='typeid' id='typeid_"+id+"' />";

        $(obj).parent().parent().children("td").eq(2).html(input+hidden);
        var save = '<a title="保存" onclick="saveResourceType(this, '+id+')" class="btn btn-sm"><i class="fa fa-save"></i>保存</a>';
        $(obj).parent().html(save);

        $.ajax({
            url: "../resource/getrestype",
            type: "get",
            data: { id: id },
            success: function(data) {
                if (data != null) {
                    $("#typename_"+id).val(data.TypeName);
                    $("#typeid_"+id).val(data.Id);
                } else {
                    $("#typename_"+id).val("");
                    $("#typeid_"+id).val("");
                }
            },
            error: function(){
                bootbox.alert({
                    title: "提示信息",
                    message: "网络错误",
                    className: "modal-danger"
                });
            }
        });
    }

    // 保存
    function saveResourceType(obj, id){
        var typename = $("#typename_"+id).val();
        var id = $("#typeid_"+id).val();
        if (typename == null || typename == "") {
            bootbox.alert({
                title : "提示信息",
                message: "资源类型名称不能为空",
                className: 'modal-danger'
            });
            return false;
        }
        $.ajax({
            url: '../resource/edittype',
            type: 'post',
            data: {
                id: id,
                typename: typename
            },
            success: function(data) {
                if (data.status) {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-success'
                    });
                    oTable.fnReloadAjax(oTable.fnSettings());
                } else {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-danger'
                    });
                    oTable.fnReloadAjax(oTable.fnSettings());
                }
            },
            error: function() {
                bootbox.alert({
                    title: "提示信息",
                    message: "网络错误",
                    className: "modal-danger"
                });
            }
        });
    }

    // 添加类型
    function addType() {
        var typename = $("#typename").val();
        if (typename == null || typename == "") {
            bootbox.alert({
                title : "提示信息",
                message: "资源类型名称不能为空",
                className: 'modal-danger'
            });
            return false;
        }
        $.ajax({
            url: '../resource/addtype',
            type: 'post',
            data: {
                name: typename,
            },
            success: function(data) {
                if (data.status) {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-success'
                    });
                    $("#addtype").addClass("display-none");
                    $("#typename").val("");
                    oTable.fnReloadAjax(oTable.fnSettings());
                } else {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-danger'
                    });
                    $("#addtype").addClass("display-none");
                    $("#typename").val("");
                    oTable.fnReloadAjax(oTable.fnSettings());
                }
            },
            error: function() {
                bootbox.alert({
                    title: "提示信息",
                    message: "网络错误",
                    className: "modal-danger"
                });
            }
        });
    }

    // 获取勾选的id集合
    function getTypeId() {
        var ids = [];
        var arr = $("input[name='ids']");
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids.push(arr[i].value);
            }
        }
        return ids;
    }

    // 全选反选
    function checkAll(obj) {
        if(obj.checked){   
            $("input[name='ids']").prop("checked", true);
        }else{   
            $("input[name='ids").prop("checked", false);
        }   
    }

    // 高级筛选
    function seniorSearch(){
        if($("#senior").is(":hidden")){
            $("#senior").slideDown(200);
        }
        else {
          $("#senior").slideUp(200);
        }   
    }

    // 收起
    function seniorClose(){
        $("#senior").slideUp(200);
    }

    //创建遮罩层
    function createModal() {
        var html = "<div id='mycover'></div>";
        $(".page-container").append(html);
        $("#mycover").one("click", function() {
            $("#slideArea").removeClass("active");
            $(this).remove();
        });
    }

    //移除遮罩层
    function removeModal() {
        $("#mycover").remove();
    }

    $("#closePanel").on("click", function() {
        $("#slideArea").removeClass("active");
        removeModal();
    });

    function initTableGroup() {
        var actionUrl = '../resource/grouplist';
        var table = $('#grouptable').dataTable({
            "bFilter": true,
            "bAutoWidth": false,
            "sPaginationType": 'full_numbers',
            "bPaginate": true, //翻页功能
            "bDestroy": true,
            "bProcessing": true,
            "sAjaxSource": actionUrl,
            "iDisplayLength": -1,
            "aLengthMenu": [
                [10, 15, 20, 50, -1],
                [10, 15, 20, 50, "All"]
            ],
            "bServerSide": true,
            "bSort": false,
            "aoColumns": [
                { "mDataProp": "Id",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        var checkbox = "<input type='checkbox' name='groupids' value='" + oData.Id + "' />";
                        $(nTd).html(checkbox);
                    }
                },
                {
                    "mDataProp": "Name",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) { 
                        var str = "";
                        if(oData.Level != 0){
                            str = str + "┣ ";
                            for(var i=0;i<oData.Level;i++){
                                str = str + "━ ";
                            }
                        }
                        str = str;
                        str = "<span style='color:#bbb'>"+str+"</span><span style='color:#428bca'>" + sData +"</span>";
                        $(nTd).html(str);
                    }
                },
                {"mDataProp": "ManagerName",},
                {
                    "mDataProp": "Status",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        if (oData.Status == 1) {
                            $(nTd).html("<i class='glyphicon glyphicon-ok success'></i>");
                        } else if (oData.Status == 2) {
                            $(nTd).html("<i class='glyphicon glyphicon-remove red'></i>");
                        }
                    }
                },
                {"mDataProp": "Remark",}, 
            ],
            "oLanguage": {
                "sProcessing": "正在加载中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录，",
                "sZeroRecords": "没有数据！",
                "sEmptyTable": "表中无数据存在！",
                "sInfo": "_START_ - _END_ / 共 _TOTAL_ 条",
                "sInfoEmpty": "0 - 0 / 共 0 条",
                "sInfoFiltered": "",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "dom": "<'row'<'col-sm-6'><'col-sm-6'>><'row'<'col-sm-12'tr>><'row'<'col-sm-6 customer-line'i><'col-sm-6'p>>"
        });
        return table;
    }

    function initTableUser() {
        var actionUrl = '../resource/userlist';
        var table = $('#usertable').dataTable({
            "bDestory": true,
            "bRetrieve": true,
            "bFilter": true,
            "bAutoWidth": false,
            "sPaginationType": 'full_numbers',
            "bPaginate": true, //翻页功能
            "bDestroy": true,
            "bProcessing": true,
            "sAjaxSource": actionUrl,
            "iDisplayLength": -1,
            "aLengthMenu": [
                [10, 15, 20, 50, -1],
                [10, 15, 20, 50, "All"]
            ],
            "bServerSide": true,
            "bSort": false,
            "aoColumns": [
                { "mDataProp": "Id",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        var checkbox = "<input type='checkbox' name='userids' value='" + oData.Id + "' />";
                        $(nTd).html(checkbox);
                    }
                },
                {
                    "mDataProp": "Username", 
                }, 
                { "mDataProp": "Empnum", },
                { "mDataProp": "Nickname", },
                { "mDataProp": "Rolename", },
                { "mDataProp": "Groupname", }, 
                { "mDataProp": "Createname", },
                { "mDataProp": "Deviceconut", },
                { "mDataProp": "Companyname", },
                {
                    "mDataProp": "Status",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        if (oData.Status == 1) {
                            $(nTd).html("<i class='glyphicon glyphicon-ok success'></i>");
                        } else if (oData.Status == 2) {
                            $(nTd).html("<i class='glyphicon glyphicon-remove red'></i>");
                        }
                    }
                }, 
                { "mDataProp": "LastLoginTimeStr", }
            ],
            "oLanguage": {
                "sProcessing": "正在加载中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有数据！",
                "sEmptyTable": "表中无数据存在！",
                "sInfo": "_START_ - _END_ / 共 _TOTAL_ 条",
                "sInfoEmpty": "0 - 0 / 共 0 条",
                "sInfoFiltered": "",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "dom": "<'row'<'col-sm-6'><'col-sm-6'>><'row'<'col-sm-12'tr>><'row'<'col-sm-6 customer-line'i><'col-sm-6'p>>"
        });
        return table;
    }

    function seniorUserSearch(){
        if($("#seniorUser").is(":hidden")){
            $("#seniorUser").slideDown(200);
        }
        else {
          $("#seniorUser").slideUp(200);
        }
    }

    function seniorUserClose(){
        $("#seniorUser").slideUp(200);
    }

    // 模糊查询
    function searchGroup() {
        var searchGroupstatus = $("#searchGroupstatus option:selected").val();
        var searchGroupname = $("#searchGroupname").val();
        $("#grouptable").DataTable().column(0).search(searchGroupstatus).column(1).search(searchGroupname).draw();
    }

    // 模糊查询
    function searchUserByStatus(obj,id) {
        $(obj).siblings("span").removeClass("active");
        $(obj).addClass("active");
        var searchStatus = id;
        var searchCompanyName = $("#searchCompanyName").val();
        var searchGroup = $("#searchGroup option:selected").val();
        var searchRole = $("#searchRole option:selected").val();
        var searchUserName = $("#searchUserName").val();
        $("#usertable").DataTable().column(0).search(searchStatus).column(1).search(searchUserName).column(2).search(searchGroup).column(3).search(searchRole).column(4).search(searchCompanyName).draw();
    }

    function queryUser() {
        var spans = $("#statusUserDiv").children(".status");
        var searchStatus = 0;
        for (var i = 0; i < spans.length; i++) {
            if (spans.eq(i).hasClass("active")) {
                searchStatus = i;
            }
        }
        var searchCompanyName = $("#searchCompanyName").val();
        var searchGroup = $("#searchGroup option:selected").val();
        var searchRole = $("#searchRole option:selected").val();
        var searchUserName = $("#searchUserName").val();
        $("#usertable").DataTable().column(0).search(searchStatus).column(1).search(searchUserName).column(2).search(searchGroup).column(3).search(searchRole).column(4).search(searchCompanyName).draw();
    }

    // 全选反选
    function checkUserAll(obj) {
        if(obj.checked){   
            $("input[name='userids']").prop("checked", true);
        }else{   
            $("input[name='userids").prop("checked", false);
        }   
    }

    // 全选反选
    function checkGroupAll(obj) {
        if(obj.checked){   
            $("input[name='groupids']").prop("checked", true);
        }else{   
            $("input[name='groupids").prop("checked", false);
        }   
    }

    function chooseType(){
        oTableUser.fnReloadAjax(oTableUser.fnSettings());
        oTableGroup.fnReloadAjax(oTableGroup.fnSettings());
    }

    function getTypeId() {
        var ids = [];
        var arr = $("input[name='ids']");
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids.push(arr[i].value);
            }
        }
        return ids;
    }

    // 获取勾选的用户id集合
    function getUserId() {
        var ids = [];
        var arr = $("input[name='userids']");
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids.push(arr[i].value);
            }
        }
        return ids;
    }

    
    // 获取团队id集合
    function getGroupId() {
        var groupids = [];
        var ids = [];
        var arr = $("input[name='groupids']");
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                groupids.push(arr[i].value);
            }
        }
        $.ajax({
            url: "../resource/getgroupuser",
            type: "get",
            async: false,
            data: { groupids: groupids },
            success: function(data) {
                if (data != null) {
                    $.each(data, function(i){
                        ids.push(data[i].Id);
                    });
                }
            }
        });
        return ids;
    }

    // 授予共享资源分类
    function submitFun() {
        var ids = [];
        var lis = $("#myTab > li");
        if (lis.eq(0).hasClass("active")) {
            ids = getUserId();
        } else if(lis.eq(1).hasClass("active")) {
            ids = getGroupId();
        }
        
        if (ids.length == 0) {
            bootbox.alert({
                title : "提示信息",
                message: "请勾选用户",
                className: 'modal-danger'
            });
            return false;
        }
        var typeids = getTypeId();
        console.log(typeids);
        console.log(ids);
        $.ajax({
            url: "../resource/addtypeuser",
            type: "post",
            data: { typeids: typeids, userids: ids},
            success: function(data) {
                if (data.status) {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-success'
                    });
                    oTable.fnReloadAjax(oTable.fnSettings());
                    $("#slideArea").removeClass("active");
                    removeModal();
                } else {
                    bootbox.alert({
                        title : "提示信息",
                        message: data.info,
                        className: 'modal-danger'
                    });
                    oTable.fnReloadAjax(oTable.fnSettings());
                    $("#slideArea").removeClass("active");
                    removeModal();
                }
            },
            error: function(){
                bootbox.alert({
                    title : "提示信息",
                    message: "网络错误",
                    className: 'modal-danger'
                });
                $("#slideArea").removeClass("active");
                removeModal();
            }
        })
    }

</script>